<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <%= link_to members_last_wishes_science_donation_path, :remote => true, :id => "science_donation_link" do %>
          <span class="toggle-icon glyphicon glyphicon-chevron-right"></span>
          My Science Donation
        <% end %>
        <span class="accordion_preloader" id="science_donation_preloader">
          <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>
        </span>
      </h4>
    </div>
    <div id="science_donation_panel" class="panel-collapse collapse">
      <div class="panel-body"></div>
    </div>
  </div>


  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <%= link_to members_last_wishes_cremation_path, :remote => true, :id => "cremation_link" do %>
          <span class="toggle-icon glyphicon glyphicon-chevron-right"></span>
          My Cremation
        <% end %>
        <span class="accordion_preloader" id="cremation_preloader">
          <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>
        </span>                      
      </h4>
    </div>
    <div id="cremation_panel" class="panel-collapse collapse">
      <div class="panel-body"></div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <%= link_to members_last_wishes_burial_service_path, :remote => true, :id => "burial_service_link" do %>
          <span class="toggle-icon glyphicon glyphicon-chevron-right"></span>
          My Burial Service
        <% end %>
        <span class="accordion_preloader" id="burial_service_preloader">
          <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>
        </span>                      
      </h4>
    </div>
    <div id="burial_service_panel" class="panel-collapse collapse">
      <div class="panel-body"></div>
    </div>
  </div>
</div>

<script>
$(function() {
  var timeout;

  $('#science_donation_link').on('click', function(){
    if($('#science_donation_panel .panel-body').is(':hidden')) {
      $('#science_donation_preloader').show();
    }
  });

  $('#science_donation_panel').on('shown.bs.collapse', function(){
    $('#science_donation_preloader').hide();
  });


  $('#cremation_link').on('click', function(){
    if($('#cremation_panel .panel-body').is(':hidden')) {
      $('#cremation_preloader').show();
    }
  });

  $('#cremation_panel').on('shown.bs.collapse', function(){
    $('#cremation_preloader').hide();
  });


  $('#burial_service_link').on('click', function(){
    if($('#burial_service_panel .panel-body').is(':hidden')) {
      $('#burial_service_preloader').show();
    }
  });

  $('#burial_service_panel').on('shown.bs.collapse', function(){
    $('#burial_service_preloader').hide();
  });
});
</script>