<div class="panel-group" id="accordion">
  <div class="panel panel-default" id="people">
    <div class="panel-heading">
      <h4 class="panel-title">
        <%= link_to members_last_wishes_people_path, :remote => true, :id => "people_link" do %>
          <span class="toggle-icon glyphicon glyphicon-chevron-right"></span>
          My People
        <% end %>
        <span class="accordion_preloader" id="people_preloader">
          <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>
        </span>
      </h4>
    </div>
    <div id="people_panel" class="panel-collapse collapse">
      <div class="panel-body"></div>
    </div>
  </div>

  <div class="panel panel-default" id="pets">
    <div class="panel-heading">
      <h4 class="panel-title">
        <%= link_to members_last_wishes_pets_path, :remote => true, :id => "pets_link" do %>
          <span class="toggle-icon glyphicon glyphicon-chevron-right"></span>
          My Pets
        <% end %>
        <span class="accordion_preloader" id="pets_preloader">
          <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>
        </span>                      
      </h4>
    </div>
    <div id="pets_panel" class="panel-collapse collapse">
      <div class="panel-body"></div>
    </div>
  </div>
</div>