<div class="panel-group" id="accordion">
  <div class="panel panel-default" id="obituary">
    <div class="panel-heading">
      <h4 class="panel-title">
        <%= link_to members_last_wishes_obituary_path, :remote => true, :id => "obituary_link" do %>
          <span class="toggle-icon glyphicon glyphicon-chevron-right"></span>
          My Obituary
        <% end %>
        <span class="accordion_preloader" id="obituary_preloader">
          <i class="fa fa-circle-o-notch fa-spin fa-fw"></i>
        </span>                      
      </h4>
    </div>
    <div id="obituary_panel" class="panel-collapse collapse">
      <div class="panel-body"></div>
    </div>
  </div>
</div>